body{
    background-image: url('./assets/img/02-4K.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.card-nosotros{
    margin: auto;
    width: 40rem ;
    border-radius: 5px;
    border-width: 5px;
}

.card-mision{
    border-radius:5px ;
    border-width: 5px;
    border-color: brown;
}

.img-obj{
    height: 425px;
}
.img-location{
    height: 350px;
    
}
.footer-contacto{
    background-color: black;
    display: flex;
    
}

@media screen and (max-width: 575px) {
    .container-principal{
        height: 896px;
    }
    .container-text{
        margin-top: 20px;
    }
    .container-nosotros{
        height: 896px;
    }
    .card-nosotros{
        width: 400px;
    }
    .card-mision{
        width: 385px;
        margin-top: 5px;
        
    }
    .carousel-item{
        height: 700px;
    }
    .footer-contacto{
        display: table-footer-group ;
    }
}

@media only screen and (min-width: 576px) and (max-width: 767px){
    .container-principal{
        height: 635px;
    }
    .container-text{
        margin-top: 20px;
    }
}

@media only screen and (min-width: 768px) and (max-width: 991px){
    .container-principal{
        height: 635px;
    }
    .container-text{
        margin-top: 20px;
    }
    .footer-contacto{
        display: table-footer-group;
    }
    .img-location{
        height: 250px;
    }
    .img-whatsapp{
        height: 250px;
    }

}

@media only screen and (min-width: 992px) and (max-width: 1199px){
    .container-principal{
        height: 635px;
    }
    .container-text{
        margin-top: 20px;
    }

}

